# Built artifacts
bin/
gen/
out/
build/
.gradle/
app/build/

# IDE specific files
.idea/
*.iml
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.swp
*~
.DS_Store

# Virtual environment
.venv/

# Temporary and unnecessary files
pdf_text.txt
*.log
.temp/
.tmp/

# Gradle wrapper
#!gradle/wrapper/gradle-wrapper.jar
